---
import { Picture } from "astro:assets";
import coursera1 from "assets/courses-full/coursera-rca.jpg";
import coursera2 from "assets/courses-full/coursera-mssql.jpg";
import coursera3 from "assets/courses-full/coursera-postman.jpg";
import coursera4 from "assets/courses-full/coursera-chip.jpg";
import coursera5 from "assets/courses-full/coursera-infrastructure-servers.jpg";
import coursera6 from "assets/courses-full/coursera-technical-troubleshooting.jpg";
import pluralsight1 from "assets/courses-full/pluralsight-optimize-azure-devtest.jpg";
import pluralsight2 from "assets/courses-full/pluralsight-federated-rags.jpg";
import pluralsight3 from "assets/courses-full/pluralsight-rag.jpg";
import pluralsight4 from "assets/courses-full/pluralsight-azure-devtest.jpg";
import educative1 from "assets/courses-full/educative-ansible.jpg";
import udemy1 from "assets/courses-full/udemy-ansible.webp";
import udemy2 from "assets/courses-full/udemy-terraform.webp";
import skillshare from "assets/courses-full/skillshare-ansible.jpg";

const courses = [
  {
    title: "Root Cause Analysis: Principles and Benefits",
    description: "Principles and Benefits.",
    platform: "Coursera",
    thumbnail: coursera1,
    enrollLink: "https://imp.i384100.net/5grP5L"
  },
  {
    title: "Microsoft SQL Server",
    description: "Performance Tuning Essentials",
    platform: "Coursera",
    thumbnail: coursera2,
    enrollLink: "https://imp.i384100.net/4GJqL1"
  },
  {
    title: "API Validation with Postman",
    description: "Master API validation and testing using Postman.",
    platform: "Coursera",
    thumbnail: coursera3,
    enrollLink: "https://imp.i384100.net/55AxLD"
  },
  {
    title: "Introduction to Chip Design with Open-Source EDA Tools",
    description: "Design and simulate digital circuits using open-source tools.",
    platform: "Coursera",
    thumbnail: coursera4,
    enrollLink: "https://imp.i384100.net/rQMoaR"
  },
  {
    title: "Back-End Infrastructure",
    description: "Servers, Secure APIs and Data.",
    platform: "Coursera",
    thumbnail: coursera5,
    enrollLink: "https://www.coursera.org/learn/back-end-infrastructure-servers-secure-apis-and-data"
  },
  {
    title: "Technical Troubleshooting",
    description: "Diagnostics, Networks, Customers.",
    platform: "Coursera",
    thumbnail: coursera6,
    enrollLink: "https://www.coursera.org/learn/technical-troubleshooting-diagnostics-networks-customers"
  },
  {
    title: "Automating Azure DevTest Labs",
    description: "Automating lab management tasks, integrating Azure DevTest labs with CI/CD pipelines and best practices for automation in DevTest labs.",
    platform: "Pluralsight",
    thumbnail: pluralsight4,
    enrollLink: "https://pluralsight.pxf.io/5g2o4o"
  },
  {
    title: "Optimizing Azure DevTest Labs",
    description: "Enhance performance, security, and cost efficiency of Azure DevTest Labs.",
    platform: "Pluralsight",
    thumbnail: pluralsight1,
    enrollLink: "https://pluralsight.pxf.io/099PML"
  },
  {
    title: "Federated Learning and Privacy-preserving RAGs",
    description: "Implement secure AI models using federated learning.",
    platform: "Pluralsight",
    thumbnail: pluralsight2,
    enrollLink: "https://pluralsight.pxf.io/5g2o4o"
  },
  {
    title: "Evaluating RAG Solutions",
    description: "Identifying requirements, choosing the right RAG model, setting up and configuring and testing and optimization",
    platform: "Pluralsight",
    thumbnail: pluralsight3,
    enrollLink: "https://www.pluralsight.com/courses/evaluating-rag-solutions"
  },
  {
    title: "Automating IT Infrastructure with Ansible",
    description: "Learn Ansible to automate IT operations and enhance system reliability.",
    platform: "Educative",
    thumbnail: educative1,
    enrollLink: "https://www.educative.io/courses/automating-it-infrastructure-with-ansible/"
  },
  {
    title: "Learn Ansible Automation in 250+ Examples",
    description: "Comprehensive Ansible training with real-world use cases.",
    platform: "Udemy",
    thumbnail: udemy1,
    enrollLink: "https://www.udemy.com/course/ansible-by-examples-devops/"
  },
  {
    title: "Terraform for Beginners",
    description: "Master Terraform to build scalable infrastructure using IaC principles.",
    platform: "Udemy",
    thumbnail: udemy2,
    enrollLink: "https://www.udemy.com/course/terraform-for-beginners-code-deploy-and-scale/"
  },
  {
    title: "IT Automation with Ansible Quickstart",
    description: "Automate IT tasks, deploy apps, secure systems, and streamline workflows in 40 minutes.",
    platform: "Skillshare",
    thumbnail: skillshare,
    enrollLink: "https://skl.sh/4gzJrFB"
  }
];
---

<div class="text-center py-12">
  <h2 class="text-3xl font-extrabold text-gray-800">Explore Luca's Professional Courses</h2>
  <p class="text-lg text-slate-600 mt-4">Advance your career with expert-led training in DevOps, AI, Kubernetes, and Cloud Automation.</p>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 mx-auto max-w-7xl">
  {courses.map((course, index) => (
    <div class="bg-white shadow-md p-6 rounded-lg text-center">
      <Picture
        src={course.thumbnail}
        alt={course.title}
        widths={[200, 300, 400]}
        sizes="(max-width: 800px) 100vw, 300px"
        loading={index < 6 ? "eager" : "lazy"} 
        format="avif"
        class="mx-auto h-48 mb-4 rounded object-contain"
      />
      <h3 class="text-xl font-bold text-gray-800">{course.title}</h3>
      <p class="text-gray-600 mt-2">{course.description}</p>
      <a href={course.enrollLink} class="text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-lg mt-4 inline-block shadow-md">
        Enroll Now on {course.platform}
      </a>
    </div>
  ))}
</div>
