---
import { Picture } from "astro:assets";
import coursera from "assets/courses/coursera.png";
import pluralsight from "assets/courses/pluralsight.png";
import educative from "assets/courses/educative.png";
import udemy from "assets/courses/udemy.png";

const courses = [
  {
    title: "Root Cause, Back-End Security, and Troubleshooting - Coursera",
    description: "Enhance Your IT Expertise with Courses on RCA, API Security, and Advanced Troubleshooting.",
    platform: "Coursera",
    thumbnail: coursera,
    enrollLink: "https://imp.i384100.net/5grP5L"
  },
  {
    title: "AI, Kubernetes & Ansible Hands-on - Pluralsight",
    description: "Deep Dive into Kubernetes, AI, and Ansible for Advanced Automation and Infrastructure Management.",
    platform: "Pluralsight",
    thumbnail: pluralsight,
    enrollLink: "https://pluralsight.pxf.io/099PML"
  },
  {
    title: "Automating IT Infrastructure with Ansible - Educative",
    description: "Master Ansible for Efficient IT Automation and Infrastructure Management.",
    platform: "Educative",
    thumbnail: educative,
    enrollLink: "https://www.educative.io/courses/automating-it-infrastructure-with-ansible/"
  },
  {
    title: "Kubernetes, Terraform, Ansible, and Linux Trainings - Udemy",
    description: "Comprehensive Training for DevOps Professionals in IaC, Automation, and Container Orchestration.",
    platform: "Udemy",
    thumbnail: udemy,
    enrollLink: "https://www.udemy.com/user/luca-berton-3/"
  }
];
---

<div class="text-center py-12">
  <h2 class="text-3xl font-extrabold text-gray-800">Elevate Your Skills with World-Class Courses</h2>
  <p class="text-lg text-slate-600 mt-4">Upskill with professional video courses in AI, Kubernetes, Ansible, Cloud, and DevOps.</p>
</div>

<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8 mx-auto max-w-7xl">
  {courses.map((course) => (
    <div class="bg-white shadow-md p-6 rounded-lg text-center">
      <Picture
        src={course.thumbnail}
        alt={course.title}
        widths={[200, 300, 400]}
        sizes="(max-width: 800px) 100vw, 300px"
        loading="lazy"
        format="avif"
        class="mx-auto h-48 mb-4 rounded object-contain"
      />
      <h3 class="text-xl font-bold text-gray-800">{course.title}</h3>
      <p class="text-gray-600 mt-2">{course.description}</p>
      <a href={course.enrollLink} class="text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-lg mt-4 inline-block shadow-md">Enroll Now</a>
    </div>
  ))}
</div>
